* {
  margin: 0;
  padding: 0;
}
.content {
  display: flex;
  justify-content: row;
  align-items: center;
}
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 33vw;
  height: 200px;
}
.game-buttons {
  background-color: #f5eceb;
  color: black;
  padding: 25px 12px;
  text-decoration: none;
  font-size: 22px;
  margin-left: 130px;
}
#localData.not-allowed {
  cursor: not-allowed;
}
.game-buttons:hover {
  background-color: black;
  cursor: pointer;
  color: white;
}
.statistics {
  width: 33vw;
}
.main_content {
  display: flex;
  flex-direction: column;
  margin: 150px;
  font-family: sans-serif;
}

#area {
  width: 309px;
  margin: 0 auto;
  font-size: 0;
}

.currentPlayer {
  text-align: center;
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: bold;
}
.cell {
  width: 100px;
  height: 100px;
  text-align: center;
  display: inline-block;
  font-size: 90px;
  border: 1.5px solid white;
  cursor: pointer;
  vertical-align: middle;
  background-color: black;
  color: #f5eceb;
}

.cell.selected {
  cursor: not-allowed;
}

.cell.winning {
  background-color: red;
}

.logo {
  text-align: center;
  font-size: 64px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.cell:hover {
  background-color: rgba(245, 236, 235, 0.9);
  border: 1px solid black;
}
.cell.selected:hover {
  background-color: black;
}

.winning-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 5rem;
  flex-direction: column;
}

.winning-message button {
  font-size: 3rem;
  background-color: white;
  border: 1px solid black;
  padding: 0.25em 0.5em;
  cursor: pointer;
}

.winning-message button:hover {
  background-color: black;
  color: white;
  border-color: white;
}

.winning-message.show {
  display: flex;
}
