* {
  margin: 0;
  padding: 0;
}
body.black {
  background-color: #16161a;
}
.content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo.black {
  color: white;
}
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 33vw;
  height: 200px;
}
.game-buttons {
  background-color: #f5eceb;
  color: black;
  padding: 15px;
  text-decoration: none;
  font-size: 22px;
  margin-left: 100px;
}
.game-buttons.selected {
  background-color: #05a86b;
}
.game-buttons.black {
  color: #f5eceb;
  background-color: #545454;
}
#localData.not-allowed {
  cursor: not-allowed;
}
.game-buttons:hover {
  background-color: #151515;
  cursor: pointer;
  color: white;
}
.game-buttons.black:hover {
  background-color: #05a86b;
  color: #2d2e30;
}
.game-buttons.black.selected {
  background-color: orangered;
}
.statistics {
  display: flex;
  width: 33vw;
}
td,
th {
  border: 1px solid #999;
  padding: 0.5rem;
  font-size: 22px;
  background-color: #f5eceb;
}
td,
th.black {
  background-color: #f5eceb;
}
.main_content {
  display: flex;
  flex-direction: column;
  margin: 150px;
  font-family: sans-serif;
}

#area {
  width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
}

.currentPlayer {
  text-align: center;
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: bold;
}
.currentPlayer.black {
  color: white;
}
.cell {
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  box-sizing: border-box;
  font-size: 90px;
  border: 1.5px solid white;
  border-radius: 10%;
  cursor: pointer;
  vertical-align: middle;
  background-color: black;
  color: #f5eceb;
}
.cell.black {
  color: #05a86b;
  background-color: #d7b61b;
}
.cell.selected {
  cursor: not-allowed;
}

.cell.winning {
  background-color: red;
}
.cell.black.winning {
  background-color: rgb(48, 216, 231);
}

.logo {
  text-align: center;
  font-size: 64px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.cell:hover {
  background-color: rgba(245, 236, 235, 0.9);
  border: 1px solid black;
}

.cell.selected:hover {
  background-color: black;
}
.cell.selected.black:hover {
  background-color: #d7b61b;
}

.winning-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 5rem;
  flex-direction: column;
}

.winning-message button {
  font-size: 3rem;
  background-color: white;
  border: 1px solid black;
  padding: 0.25em 0.5em;
  cursor: pointer;
}

.winning-message button:hover {
  background-color: black;
  color: white;
  border-color: white;
}

.winning-message.show {
  display: flex;
}

@media (max-width: 800px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .game-buttons {
    margin-left: auto;
  }
}
